<p id="notice"><%= notice %></p>

<h1>Bids</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Bid amount</th>
      <th>Bid time</th>
      <th>Auction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.buyer_id %></td>
        <td><%= bid.bid_amount %></td>
        <td><%= bid.bid_time %></td>
        <td><%= bid.auction_id %></td>
        <td> <%= link_to 'edit', auctions_bid_path  %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bid', new_auction_bid_path %>
