<%= simple_form_for([@auction, @bid]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="modal-body">
    <div class="form-inputs">
      <%= f.input :bid_amount, input_html: {value: '100'}%>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-actions">
    <% if Time.now > @auction.end_time %>
    <% top_bidder= Bid.where(auction_id: @bid.auction_id).order(:bid_amount).last.buyer.username rescue "No bidder" %>
      <span style="padding-right:20px" class="btn btn-dark">
      <% if top_bidder == "No bidder" %>
        There was <%= top_bidder %>
        for this auction.
      <% else %>
        <%= top_bidder %>
        has won the auction! Congratulations!
      <% end %>
      </span>
      <button class="btn btn-dark" disabled>Auction has ended</button>
    <% else %>
      <%= f.button :submit, 'Bid', class:"btn btn-secondary" %>
    <% end %>
    </div>
  </div>
<% end %>
