<%= simple_form_for([@auction, @bid]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="modal-body">
    <div class="form-inputs">
      <%= f.input :bid_amount, input_html: {value: '100'}%>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-actions">
      <%= f.button :submit, 'Bid', class:"btn btn-secondary" %>
      <button type="button" class="btn btn-dark user-button" data-action="click->bidmodal#close">Close</button>
    </div>
  </div>
<% end %>
