<h1>Place Your Bids</h1>
<div class="auction-bidding-cards p-2 ">
  <div class="auction-bidding-photo p-3 bg-white ">
       <% if @auction.item.photo.attached? %>
      <%= cl_image_tag(@auction.item.photo.key, class:'img-fluid', style:'height:100%;width:100%,crop:fill,gravity:auto') %>
       <% else %>
        <%= image_tag 'https://source.unsplash.com/random/300×300', class:'img-fluid', style:'height:300px;width:400%;crop:fill' %>
      <% end %>
  </div>
  <div class="auction-bidding-details mx-auto bg-light p-3">
  <h3><%= @auction.item.name %></h3>
        <p><%= @auction.item.description %></p>
         <p ><strong>Auction End Time:</strong></p>
         <p class="timer-end-time"><%= @auction.end_time %></p>
         <div class="wcf-left"><span class="price">Min Bid: <%= @auction.minimum_bid %></span></div>
         <br>
         <p><strong>Remaining time</strong></p>
         <div class="timer" data-controller="timer"></div>
         <div data-controller="bidmodal">
          <%= render "bidform" %>
          </div>
        </div>
<div class="container" style="padding=0">
    <div class="row">
      <div class="mx-auto">
        <table class="fixed_headers ml-3" >
        <thead>
          <tr>
            <th style>Bid Rankings</th>
            <th>User Name</th>
            <th>Bid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%  sortedbids = @bids.sort_by { |hsh| -hsh[:bid_amount] }%>
            <%  sortedbids.each_with_index do |bid, index| %>
            <td><%= index+1%></td>
            <td><%= User.find(id=bid.buyer_id).username%></td>
            <td><%= bid.bid_amount %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
   </div>
   </div>
        </div>
  </div>
  </div>

  <br>
  <br>
  <br>
  <br>
<p><%= link_to 'Edit', edit_auction_path(@auction) %> <%= link_to 'Back', auctions_path %></p>
