<%# <div class="banner"> %>

<%# navbar/banner start %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon banner d-flex flex-column align-items-start">
  <div class="container-fluid">
    <%# logo + navbar section start%>
    <%= link_to root_path , class: "navbar-brand" do %>
      <%= image_tag "kickauction_logo_clear.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link",style:"color:white;" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", current_user ? user_path(current_user) : users_path, class: "nav-link",style:"color:white;" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <div class="d-flex">
              <%= link_to "Login", new_user_session_path, class: "nav-link",style:"color:white;" %>
              <%= link_to "Sign up" , new_user_registration_path, class:'nav-link',style:"color:white;" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# logo + navbar section end %>

  <%# banner content %>
  <div class="banner-content d-flex flex-column">
    <div class="banner-text" data-controller="typed-js">
      <h1>KickAuction</h1>
      <h2>Fight for what you need.</h2>
    </div>
      <%# setting up typed js text for animation %>
      <div id="typed-strings">
        <h2>You bid. You win.</h2>
        <h2>At an auction keep your mouth shut</h2>
      </div>
    <div class="typed-text-body">
      <span id="typed"></span>
    </div>
  </div>
      <%# end of typed js script %>

</div>

  <%# navbar section end %>

<%# </div> %>
