  <div>
    <div class="user-item-cards p-2" data-paymentmodal-target="cards">
    <% @item.each do |item| %>
    <div class="user-item-card-category p-2 bg-light">
      <div class="user-item-name mx-auto">
        <%= image_tag "https://source.unsplash.com/random/300×300", class:"img-fluid", style:"height:300px;width:100%"%>
      <ul class="pl-0 pt-1" style="list-style-type:none;size">
        <li>Name: <%= item.name %></li>
        <li>Description: <%= item.description %></li>
        <li>Item Type: <%= item.item_type.name %></li>
        <li>Franchise: <%= item.franchise.name %></li>
      </ul>
      </div>
    </div>
    <% end %>
  </div>
