<p id="notice"><%= notice %></p>

<h1>Franchises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franchises.each do |franchise| %>
      <tr>
        <td><%= franchise.name %></td>
        <td><%= link_to 'Show', franchise %></td>
        <td><%= link_to 'Edit', edit_franchise_path(franchise) %></td>
        <td><%= link_to 'Destroy', franchise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Franchise', new_franchise_path %>
