
<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
<<<<<<< HEAD
    <%= f.input :name, label:"Name of item" %>
    <%= f.input :description, :input_html => { style:"height:150px" } %>
    <div class="d-flex justify-content-between">
      <%= f.association :franchise, :input_html => { style:"width:350px" } %>
      <%= f.association :item_type, :input_html => { style:"width:350px" } %>
    </div>
=======
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :franchise %>
    <%= f.association :item_type %>
>>>>>>> a69b06de1da8c2a37d5fedbf5c2dfea9271b4dec
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, class:"btn btn-warning user-button-large" %>
  </div>
<% end %>
