<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div>
    <div class="user-item-cards p-2" data-paymentmodal-target="cards">
    <% @items.each do |item| %>
    <div class="user-item-card-category p-2 bg-light">
      <div class="user-item-name mx-auto">
        <% if item.photo.attached? %>
            <%= cl_image_tag(item.photo.key, class:'img-fluid', style:'height:300px;width:100%')%>
        <% else %>
          <%= image_tag 'https://source.unsplash.com/random/300×300', class:"img-fluid", style:'height:300px;width:100%'%>
        <% end %>

        <ul class="pl-0 pt-1" style="list-style-type:none;size">

          <li>Name: <%= item.name %></li>
          <li>Description: <%= item.description %></li>
          <li>Creator: <%= item.creator.username %></li>
          <li>Franchise: <%= item.franchise.name %></li>
          <%= link_to 'Show', item %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>

<%= link_to 'New Item', new_item_path %>
