

<div class="pt-3 grid-container p-0">
  <div class="user-card">
    <h1>KickAuction</h1>
    <p>Welcome back <%= @user.username %>!</p>
  </div>

    <div class="user-balance mt-4 d-flex flex-row-reverse">
        <i class="fa-regular fa-wallet fa-2xl" style="margin-top:26px"></i>
        <h5 class="ml-3 p-3"> <%= @user.credit %></h5>
    </div>
</div>

<div class="d-flex justify-content-between">
  <%= link_to "List a creation", new_item_path, class:"btn btn-dark user-button-large" %>
  <%= link_to "Go to auctions", root_path, class:"btn btn-dark user-button-large" %>
  <%= link_to "Top up credit", root_path, class:"btn btn-dark user-button-large" %>
</div>


  <h1>New Item</h1>

  <%= render 'form', item: @item %>

  <% @auction.item = @item %>
  <%= render 'auctions/form', auction: @auction %>

  <%= link_to 'Back', items_path %>
