<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @item.creator.username %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @item.owner.username %>
</p>

<p>
  <strong>Franchise:</strong>
  <%= @item.franchise.name %>
</p>

<p>
  <strong>Itemtype:</strong>
  <%= @item.item_type.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
